/*=========== RESET ==========*/

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}


/*========== HEADER =========*/

.header {
    position: fixed;
    width: 100%;
    padding: 2% 3%;
    background-color: #3F51B5;
    float: left;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/*
.header h1 {
    color: #fff;
    font-size: 2em;
    font-weight: 400;
    float: left;
    font-family: 'PT Sans Narrow', sans-serif;
}
*/

.header h1 {
    color: #fff;
    font-size: 3em;
    font-weight: 500;
    float: left;
    font-family: 'Ranga', cursive;
}

.header img{
	float: right;
	margin-top: 0.2%;
}

.int{
    width: 79%;
    float: left;
    text-align: justify;
    margin: 11.5% 0 0 10.4%;
    font-size: 1.03em;
    font-weight: 400;
    color: #3d5f81;
}

main{
    width: 100%;
}

.esp{
    margin-left: 10.5%;
}

article{
    box-shadow:
        0 1px 3px rgba(0,0,0, 0.12),
        0 1px 2px rgba(0,0,0, 0.24);
    padding: 2%;
    background-color: #fff;
    width: 25%;
    float: left;
    margin: 3% 0 0 2%;
    border-radius: 2px;
    transition: all .4s;
}

article:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all .4s;
}

article img{
    width: 30%;
    margin: 0 35%;
}

article h2{
    margin-top: 20%;
    text-align: center;
    font-size: 1.1em;
    font-weight: 400;
    color: #3d5f81;
}

article h4{
    margin-top: 10%;
    text-align: justify;
    font-size: .9em;
    font-weight: 400;
    color: #888c99;
}

.video{
    margin: 5% 31.5%;
    width: 37%;
    float: left;
    background-color: #FF1744;
    box-shadow:
        0 1px 5px rgba(0,0,0, 0.12),
        0 1px 7px rgba(0,0,0, 0.24);
    padding: 1% 2%;
    border-radius: 3px;
    transition: 0.4s;
}

.video:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.4s;
}

.video h5{
    float: left;
    color: #fff;
    font-weight: 400;
    font-size: 1em;
}

.video img{
    float: right;
    width: 25px;
    margin-top: -0.5%;
}

.btn-email {
	position: fixed;
    margin: 580px 0 0 50px;
    float: right;
    width: 56px;
    height: 56px;
    border-radius: 56px;
    background-color: #FF1744;
    box-shadow:
        0 1px 5px rgba(0,0,0, 0.12),
        0 1px 7px rgba(0,0,0, 0.24);
    transition: 0.4s;
    cursor: pointer;
}

.btn-email:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.4s;
}

.btn-email img {
	width: 40px;
}

.email {
    display: none;
	position: fixed;
    width: 100%;
    height: 1000px;
    background-color: rgba(236, 239, 241, 0.7);
}

.email-box{
    margin: 10% 30%;
    width: 40%;
    height: 400px;
    padding: 0;
    box-shadow: 0 7px 15px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.email-box:hover {
    box-shadow: 0 7px 15px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.top-email{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
    width: 100%;
    background-color: #009688;
    height: 80px;
    padding: 5%;
}

.top-email h2, .top-email h3{
    margin: 0;
    padding: 0;
    color: #fff;
}

.top-email h2{
    float: left;
    font-size: 1.5em;
    font-weight: 400;
}

.btn-close img{
    float: right;
    margin: -0.5% -1% 0 0;
    cursor: pointer;
    width: 35px;
}

.email-box h4 {
    float: left;
    text-align: justify;
    margin: 5% 5% 0 5%;
    font-size: 1.03em;
    font-weight: 400;
    color: #3d5f81;
}

.email-box h3 {
    text-align: justify;
    margin: 2% 5% 10% 5%;
    font-size: 1.03em;
    font-weight: 400;
    color: #3F51B5;
    font-style: italic;
    text-decoration: underline;
}

.emails {
    margin: 0;
	float: left;
    width: 100px;
    margin-left: 21%;
}

footer{
    width: 100%;
    background-color: #263238;
    height: 200px;
    float: left;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
?
.t-f{
    width: 100%;
    float: left;
    text-align: center;
}

.t-f h2{
    font-family: 'Ranga', cursive;
    color: #fff;
    font-size: 3em;
}

.icons{
    width: 100%;
    float: left;
}

.icons img{
    width: 2%;
}
